[submodule "UniScGame/Assets/ArtisanDream.Tools"]
	path = UniScGame/Assets/ArtisanDream.Tools
	url = https://github.com/anthonyromrell/ArtisanDream.Tools
[submodule "Uni"]
	path = Uni
	url = https://github.com/DeathRayXXVII/DGM1610_Spring_2022
[submodule "UniScGame/Assets/DGM1610_Spring_2022"]
	path = UniScGame/Assets/DGM1610_Spring_2022
	url = https://github.com/DeathRayXXVII/DGM1610_Spring_2022
